
#observations1,
#observations2,
#observations3{
  font-size: 1.25em;
}

.canvas-container {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container {
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.image-container img {
    height: auto;
    transition: transform 0.05s; /* Add a transition effect */
    cursor: pointer;
}
.image-container img:hover {
  transform: scale(1.2); /* Change the scale factor as needed */
}
.selected-img {
  border: 4px solid red;
}

.yes-btn{
  background-color: lightseagreen;
  &:hover {
    background-color: #a9a9a9;
  }
}

.no-btn{
  background-color: lightcoral;
  &:hover {
    background-color: #a9a9a9;
  }
}

.selected-btn{
  background-color: #616060;
}
